imageio
imageio-ffmpeg
tqdm
easydict
opencv-python-headless
ninja
trimesh
transformers
gradio==6.0.1
tensorboard
pandas
lpips
zstandard
Pillow
kornia
timm
psutil
packaging
huggingface_hub[hf_xet,cli]
